@model TE_ManagementSystem.Models.LabelRule

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/custom/supplierMePO.js"></script>
<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="../Content/style2.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="~/Content/custom/supplierMePO.js"></script>

<link rel="stylesheet" type="text/css" href="../Content/checkList.css" />
<script src="../Content/jquery.ui.checkList.js"></script>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">新增治具</h3>
                    </div>

                    <script type="text/javascript">
                        $(document).re
                    </script>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>LabelRule</h4>
                            <hr />
                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.Label("製成種類", new { @class = "control-label" })

                                <div class="ui-widget">
                                    <select id="combobox1" name="ProcessKindID">
                                        <option value=""></option>
                                        @foreach (var item in ViewBag.listKindProcess)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.Label("治具種類", new { @class = "control-label" })

                                <div class="ui-widget">
                                    <select id="combobox" name="KindID">
                                        <option value=""></option>
                                        @foreach (var item in ViewBag.listKind)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
