@model TE_ManagementSystem.Models.ProductTransaction

@{
    ViewBag.Title = @ViewBag.PoTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Content/custom/supplierMePO.js"></script>*@
<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="../Content/style2.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="~/Content/custom/supplierMePO.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>


<h2>@ViewBag.PoTitle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    </div>

}


<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">

            <section class="layout">

                <!-- general form elements -->
                <div class="box box-primary">
                    @*<div class="box-header with-border">
                            <h3 class="box-title">Create New Product</h3>
                        </div>*@
                    @using (Html.BeginForm("Create", "PO", FormMethod.Post, new { id = "frmPO", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form role="form">
                            <div class="box-body">


                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="text" autocomplete="off" class="form-control" id="NewPoId" value=@ViewBag.SuggestedNewPoId readonly="readonly" />
                                        </div>
                                    </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Opid, "工號", htmlAttributes: new { @class = "control-label" })
                                    <div class="col-md-12">
                                        <input type="text" name="Opid" id="Opid" value="@Session["UsrOpid"]"/>
                                        @Html.ValidationMessageFor(model => model.Opid, "", new { @class = "text-danger", style = "width:Auto" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("治具標籤", new { @class = "control-label" })

                                </div>

                                <div class="form-group">
                                    @if (!@ViewBag.IsReturn)
                                    {
                                        @*<div class="ui-widget">
                                                <select id="combobox" name="ProductID">
                                                    <option value=""></option>
                                                    @foreach (var item in ViewBag.listProduct)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>*@
                                        @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", style = "width:Auto" } })


                                        <div class="form-group">
                                            @Html.Label("修護", new { @class = "control-label" })

                                            @Html.EditorFor(model => model.IsToFix)
                                            @Html.ValidationMessageFor(model => model.IsToFix, "", new { @class = "text-danger" })

                                        </div>

                                        @*<button type="button" id="fill">確認填入</button>*@
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", style = "width:Auto" } })
                                        @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                                        <p></p>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="onViewImage()">View Image</a>
                                        <p></p>
                                        <div class="col-md-4 thumbnail" id="DisplayImage"></div>
                                    }
                                </div>

                            </div>

                            <div class="box-footer">
                                <input type="submit" value="@ViewBag.PoBtn" id="CreateProduct" class="btn btn-primary" />
                                @Html.ActionLink("回清單", "Index")
                            </div>


                        </form>
                    }
                </div>

                <div class="container-fluid">

                    <div class="form-group">

                        @if (!@ViewBag.IsReturn)
                        {
                            <div class="card shadow mb-4">

                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    治具列表
                                </div>

                                <div class="card-body">

                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" style="width: 85px;">治具編號</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">RFID</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">圖片</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">狀態</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">治具室位置</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">儲位</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">治具名稱</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">治具種類</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">供應商</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">客戶</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">料號</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">數量</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">Shift Time</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">有鉛</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">入庫日期</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">年限</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">最後借出日期</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">最後歸還日期</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">最後使用日期</th>
                                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">履歷</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in ViewBag.Products)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.NumberID
                                                                    </td>
                                                                    <td>
                                                                        @item.RFID
                                                                    </td>
                                                                    <td>
                                                                        <img src="/PO/DisplayingImage?imgID= + @item.NumberID + " class="img-responsive" thimbnail"="">
                                                                    </td>
                                                                    <td>
                                                                        @item.Status
                                                                    </td>
                                                                    <td>
                                                                        @item.Location.Name
                                                                    </td>
                                                                    <td>
                                                                        @item.Location.RackPosition
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.ProdName
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.Kind.Name
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.Supplier.Name
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.Customer.Name
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.ComList
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.Quantity
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.ShiftTime
                                                                    </td>
                                                                    <td>
                                                                        @item.MeProduct.Pb
                                                                    </td>
                                                                    <td>
                                                                        @item.StockDate
                                                                    </td>
                                                                    <td>
                                                                        @item.Life
                                                                    </td>
                                                                    <td>
                                                                        @item.LastBorrowDate
                                                                    </td>
                                                                    <td>
                                                                        @item.LastReturnDate
                                                                    </td>
                                                                    <td>
                                                                        @item.UseLastDate
                                                                    </td>
                                                                    <td>
                                                                        @Html.ActionLink("Link", "Resume", new { id = item.NumberID })
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        }

                    </div>

                </div>

            </section>

        </div>
    </div>
</section>

<script>
    function onViewImage() {
        const numberElement = document.getElementById("ProductID");
        var text = numberElement.value;
        $.ajax({
            type: "POST",
            url: "ViewImage",
            data: "text=" + text,
            success: function (data) {
                var imag = "<img "
                    + "src='" + "data:image/png;base64,"
                    + data.base64imgage + "'/>";
                $("#DisplayImage").html(imag);
                //$("#DisplayImage").append('<img src="' + data + '"class=img-responsive  thimbnail"/>');
            }
        })
    }
</script>

<script>
    var table;
    $(document).ready(function () {
        //var events = $('#events');
        table = $('#dataTable').DataTable({
            select: true,
            order: [[0, 'asc']],
        });

        table
            .on('select', function (e, dt, type, indexes) {
                var rowData = table.rows(indexes).data().toArray();
                //events.prepend('<div><b>' + type + ' selection</b> - ' + JSON.stringify(rowData) + '</div>');
                $("#ProductID").val(rowData[0][0]);
            })
    });

    //$('#fill').click(function () {
    //    if (!this.checked) {
    //        var tableData = table.rows('.selected').data();
    //        var tmpData = tableData[0][1]
    //        //$.each(tableData, function (i, val) {
    //        //    tmpData = tableData[i];
    //        //    alert(tmpData);
    //        //});
    //        $("#ProductID").val(tmpData);
    //    }
    //});

</script>

<script type="text/javascript">

    var postUrl = '@Url.Action("Create", "PO", new { IsReturn = @ViewBag.IsReturn })';

    $(function () {
        $('#CreateProduct').click(function (e) {
            e.preventDefault();
            CreateItem();
        });
    });

    function CreateItem() {
        var question = "確認送出?";
        ConfirmCreate(question).then(function (answer) {
            var ans = (String(answer) === "true");
            if (ans) {
                var data = $('#frmPO').serialize();
                $.ajax({
                    type: "POST",
                    url: postUrl,
                    data: data,
                    success: function (response) {
                        if (response.ReturnStatus == "error") {
                            AlertCreate(response.ReturnData); //"請確認輸入訊息完整或資料重複 !"
                        } else {
                            window.location.href = "index";
                        }
                    }
                });
            }
        });
    }

    function ConfirmCreate(question) {
        var defer = $.Deferred();
        $('<div id="id="divCreateClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Confirm Create',
                buttons: {
                    "Yes": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    },
                    "No": function () {
                        defer.resolve("false");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

    function AlertCreate(question) {
        var defer = $.Deferred();
        $('<div style="color: red" id="id="divCreateErrorClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Error',
                buttons: {
                    "OK": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

</script>

