@model TE_ManagementSystem.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Content/custom/supplierMePO.js"></script>*@
<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>
<link href="~/Content/css/code.jquery.com_ui_1.13.2_themes_base_jquery-ui.css" rel="stylesheet" />
<link href="../Content/style2.css" rel="stylesheet" />

<script src="~/Content/js/code.jquery.com_jquery-3.6.0.js"></script>
<script src="~/Content/js/code.jquery.com_ui_1.13.2_jquery-ui.js"></script>
<script src="~/Content/custom/supplierMePO.js"></script>

<link href="~/Content/css/cdn.datatables.net_select_1.6.2_css_select.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/js/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js"></script>
<script src="~/Content/js/cdn.datatables.net_select_1.6.2_js_dataTables.select.min.js"></script>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-xl-10">
            <!-- general form elements -->

            <section class="layout">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">治具入庫</h3>
                    </div>
                    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { id = "frmProduct", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form role="form">
                            <div class="box-body">


                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="text" autocomplete="off" class="form-control" id="NewProdId" value=@ViewBag.SuggestedNewProdId readonly="readonly" />
                                        </div>
                                    </div>*@

                                @*<div class="form-group">
                                        @Html.Label("治具編號", new { @class = "control-label" })

                                        @Html.EditorFor(model => model.NumberID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumberID, "", new { @class = "text-danger" })

                                    </div>*@

                                <div class="form-group">
                                    <span style="color:red;">*</span>
                                    @Html.LabelFor(model => model.RFID, htmlAttributes: new { @class = "control-label", @style = "color:black" })

                                    @Html.EditorFor(model => model.RFID, new { htmlAttributes = new { @class = "form-control", Value = "NA", style = "width:Auto" } })
                                    @Html.ValidationMessageFor(model => model.RFID, "", new { @class = "text-danger" })

                                </div>

                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.Usable, new { @class = "control-label", @style = "color:black" })

                                        @Html.CheckBoxFor(model => model.Usable, new { @checked = "checked" })
                                        @Html.ValidationMessageFor(model => model.Usable, "", new { @class = "text-danger" })

                                    </div>*@

                                <div class="form-group">
                                    <span style="color:red;">*</span>
                                    @Html.Label("治具室", new { @class = "control-label", @style = "color:black" })<font size="1">(方向鍵或關鍵字帶出)</font><a href="/Location/Create">add</a>

                                    <div class="ui-widget">
                                        <select id="combobox" name="Room">
                                            <option value=""></option>
                                            @foreach (var item in ViewBag.listLocation)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <span style="color:red;">*</span>
                                    @Html.Label("儲位", new { @class = "control-label", @style = "color:black" })<font size="1">(方向鍵或關鍵字帶出)</font>

                                    <div class="ui-widget">
                                        <select id="combobox1" name="Rack">
                                            <option value=""></option>
                                            @foreach (var item in ViewBag.listRack)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <span style="color:red;">*</span>
                                    @Html.LabelFor(model => model.EngID, new { @class = "control-label", @style = "color:black" })<font size="1">(點選右邊自動帶出)</font>
                                    @Html.EditorFor(model => model.Spare5, new { htmlAttributes = new { @class = "form-control", style = "width:Auto" } })

                                    @*<div class="ui-widget">
                                            <select id="combobox2" name="EngID">
                                                <option value=""></option>
                                                @foreach (var item in ViewBag.listMeProduct)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>*@

                                </div>

                                <div class="form-group">
                                    <span style="color:red;">*</span>
                                    @Html.LabelFor(model => model.Life, new { @class = "control-label", @style = "color:black" })

                                    @Html.EditorFor(model => model.Life, new { htmlAttributes = new { @class = "form-control", Value = 5, min = 1, max = 300, style = "width:Auto" } })
                                    @Html.ValidationMessageFor(model => model.Life, "", new { @class = "text-danger" })

                                </div>

                            </div>
                            @*<button type="button" id="fill">確認填入</button>*@

                            <div class="box-footer">
                                <input type="submit" value="新增" id="CreateProduct" class="btn btn-primary" />
                                @Html.ActionLink("Back to List", "Index")
                            </div>


                        </form>
                    }
                </div>

                <div class="container-fluid">

                    <!-- Page Heading -->
                    @*<h1 class="h3 mb-2 text-black-800">儲物查詢表</h1>*@
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            未匯入治具列表
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @*<div id="events">...</div>*@
                                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">治具名稱</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">匯入日期</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">種類</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">製程種類</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">客戶</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">供應商</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">數量</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">Shift Time</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">有鉛</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">料號</th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 85px;">備註</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in ViewBag.MeProducts)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.ProdName
                                                            </td>
                                                            @*<td>
                                                                    <img src="/MeProduct/DisplayingIndexImage?imgID= + @item.ID + " class="img-responsive" thimbnail"="">
                                                                </td>*@
                                                            <td>
                                                                @item.MeStockDate
                                                            </td>
                                                            <td>
                                                                @item.Kind.Name
                                                            </td>
                                                            <td>
                                                                @item.KindProcess.Name
                                                            </td>
                                                            <td>
                                                                @item.Customer.Name
                                                            </td>
                                                            <td>
                                                                @item.Supplier.Name
                                                            </td>
                                                            <td>
                                                                @item.Quantity
                                                            </td>
                                                            <td>
                                                                @item.ShiftTime
                                                            </td>
                                                            <td>
                                                                @item.Pb
                                                            </td>
                                                            <td>
                                                                @item.ComList
                                                            </td>
                                                            <td>
                                                                @item.Spare1
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </section>

        </div>
    </div>
</section>


<script>
    @foreach (var d in ViewBag.MeProducts)
    {
        @: meProducts.push(["@d.ID", "@d.ProdName"]);
    }
    OnTypeMeProductName('#meProductName');

</script>

<script>
    @foreach (var d in ViewBag.Locations)
    {
        @: locations.push(["@d.ID", "@d.Name", "@d.RackPosition"]);
    }
    OnTypeLocationName('#location');

</script>


<script>
    var table;
    $(document).ready(function () {
        //var events = $('#events');
        table = $('#dataTable').DataTable({
            select: true,
            order: [[1, 'desc']],
        });

        table
            .on('select', function (e, dt, type, indexes) {
                var rowData = table.rows(indexes).data().toArray();
                //events.prepend('<div><b>' + type + ' selection</b> - ' + JSON.stringify(rowData) + '</div>');
                $("#Spare5").val(rowData[0][0]);
            })
        //.on('deselect', function (e, dt, type, indexes) {
        //    var rowData = table.rows(indexes).data().toArray();
        //    events.prepend('<div><b>' + type + ' <i>de</i>selection</b> - ' + JSON.stringify(rowData) + '</div>');
        //});

    });

    //$('#fill').click(function () {
    //    if (!this.checked) {
    //        var tableData = table.rows('.selected').data();
    //        var tmpData = tableData[0][1]
    //        //$.each(tableData, function (i, val) {
    //        //    tmpData = tableData[i];
    //        //    alert(tmpData);
    //        //});
    //        $("#Spare5").val(tmpData);
    //    }
    //});

</script>


<script type='text/javascript'>
    $(document).ready(function () {

        function customRenderItem(ul, item) {
            var t = '<span class="mcacCol1">' + item[0] + '</span><span class="mcacCol2">' + item[1] + '</span>',
                result = $('<li class="ui-menu-item" role="menuitem"></li>')
                    .data('item.autocomplete', item)
                    .append('<a class="ui-corner-all" style="position:relative;" tabindex="-1">' + t + '</a>')
                    .appendTo(ul);

            return result;
        }

        var columns = [{ name: 'Color', width: '100px' }, { name: 'Hex', width: '70px' }],
            colors = [['Red', '#f00'], ['Green', '#0f0'], ['Blue', '#00f']];

        $("#search").mcautocomplete({
            showHeader: true,
            columns: columns,
            source: colors,
            select: function (event, ui) {
                this.value = (ui.item ? ui.item[0] : '');
                return false;
            }
        });
    });
</script>

<script type="text/javascript">

    var postUrl = '@Url.Action("Create", "Product")';

    $(function () {
        $('#CreateProduct').click(function (e) {
            e.preventDefault();
            CreateItem();
        });
    });

    function CreateItem() {
        var question = "確認新增匯入該項?";
        ConfirmCreate(question).then(function (answer) {
            var ans = (String(answer) === "true");
            if (ans) {
                var data = $('#frmProduct').serialize();
                $.ajax({
                    type: "POST",
                    url: postUrl,
                    data: data,
                    success: function (response) {
                        if (response.ReturnStatus == "error") {
                            AlertCreate(response.ReturnData);
                        } else {
                            window.location.href = "index";
                        }
                    }
                });
            }
        });
    }

    function ConfirmCreate(question) {
        var defer = $.Deferred();
        $('<div id="id="divCreateClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Confirm Create',
                buttons: {
                    "Yes": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    },
                    "No": function () {
                        defer.resolve("false");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

    function AlertCreate(question) {
        var defer = $.Deferred();
        $('<div style="color: red" id="id="divCreateErrorClientRequest""></div>')
            .html(question)
            .dialog({
                autoOpen: true,
                modal: true,
                draggable: true,
                title: 'Error',
                buttons: {
                    "OK": function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

        return defer.promise();
    }

</script>


