@model TE_ManagementSystem.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>
<link href="~/Content/css/code.jquery.com_ui_1.13.2_themes_base_jquery-ui.css" rel="stylesheet" />
<link href="../Content/style2.css" rel="stylesheet" />

<script src="~/Content/js/code.jquery.com_jquery-3.6.0.js"></script>
<script src="~/Content/js/code.jquery.com_ui_1.13.2_jquery-ui.js"></script>
<script src="~/Content/custom/supplierMePO.js"></script>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Opid)*@

        <div class="form-group">
            <span style="color:red;">*</span>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:red;">*</span>
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:red;">*</span>
            @Html.LabelFor(model => model.RankID, new { @class = "control-label", @style = "color:black" })<font size="1">(方向鍵或關鍵字自動帶出)</font>
            <br />

            <div class="ui-widget">
                <select id="combobox" name="RankID">
                    <option value=""></option>
                    @foreach (var item in ViewBag.listRank)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

        </div>

        <div class="form-group">
            <span style="color:red;">*</span>
            @Html.LabelFor(model => model.DepartmentID, new { @class = "control-label", @style = "color:black" })<font size="1">(方向鍵或關鍵字自動帶出)</font>

            <div class="ui-widget">
                <select id="combobox1" name="DepartmentID">
                    <option value=""></option>
                    @foreach (var item in ViewBag.listDepartment)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

        </div>

        <div class="form-group">
            <span style="color:red;">*</span>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
