@model IEnumerable<TE_ManagementSystem.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<p><a href="/Employee/Create">新增</a></p>

<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        員工查詢表
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            工號
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            部門
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            權限
                        </th>
                        <th>
                            在職狀態
                        </th>
                        <th>
                            更新日期
                        </th>
                        <th>
                            更新(創建)人員
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @switch (item.RankID)
                                {
                                    case 1:
                                        @Html.Label("Admin", new { @class = "control-label", @style = "color:black" })
                                        break;
                                    case 2:
                                        @Html.Label("Supervisor", new { @class = "control-label", @style = "color:black" })
                                        break;
                                    case 3:
                                        @Html.Label("Engineer", new { @class = "control-label", @style = "color:black" })
                                        break;
                                    case 4:
                                        @Html.Label("Operator", new { @class = "control-label", @style = "color:black" })
                                        break;
                                    case 5:
                                        @Html.Label("Guest", new { @class = "control-label", @style = "color:black" })
                                        break;
                                    default:
                                        break;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateEmployee)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Opid })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            pagingType: 'full_numbers',
            order: [[6, 'desc']],
        });
    });

</script>

